body {
	background: #333333;
	font-family: Palatino, serif;
	text-align: justify;
	color: #333333;
}

hr {
	width: 80%;
}


address {
    display: block;
    font-family: monospace;
} 

div {
	overflow: auto;
}

img {
	float: left;
	margin-right: 10px;
}

li {
	padding-bottom: 4px;
}

h1, h2, h3, h4 {
	font-variant: small-caps;
}

#content {
	width: 600px;
	background: #fafffd;
	border-radius: 10px;
	padding: 0 2em;
	padding-bottom: 2em;
	margin: auto;
}

#headshot {
	width: 172px;
	height: 240px;
	margin-right: 20px;
}

#courses li {
	list-style-type: none;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    font-size: larger;
}
